:root {
  --background: #fbfaf8;
  --light-pink: #e4b0ab;
  --pink: #f39189;
  --green: #3c6360;
  --gray: #f8f3f0;
  --white: white;
  --black: black;
  --body-text: black;
}

.tools {
  font-size: 5rem;
  color: var(--light-pink);
  text-align: center;
  margin: 2rem 2rem;
  text-shadow: 1px 2px 1px var(--black);
}

body {
  background-color: var(--background);
  font-family: "Open Sans";
  color: var(--body-text);
}
h1,
h2 {
  font-family: "Playfair Display";
  font-weight: bold;
  color: var(--body-text)
}
.btn {
  background-color: var(--pink);
  border-color: var(--pink);
  color: var(--white);
}

.btn:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-color: var(--green);
  border-color: var(--green);
  color: var(--white);
}

/* Header */

.header {
  background-color: var(--background);
  padding-left: 4rem;
  padding-right: 4rem;
}

.nav-pills > li {
  margin-left: 0.2rem;
}

.nav-pills > li > a.active {
  background-color: var(--pink) !important;
  color: var(--white) !important;
}

.nav-pills > li > a.active:hover {
  background-color: var(--green) !important;
  color: var(--white) !important;
}

.nav-pills > li > a:hover {
  background-color: var(--green);
  color: var(--white) !important;
}

.nav-link {
  color: var(--black);
}
#sun {
  display: none ;
}
#moon {
  display: inline;
}
.header-name {
  text-align: left;
}

/* Footer */

.bottom-container {
  background-color: var(--green);
  margin-block-end: 0px;
  padding-top: 30px;
  padding-bottom: 20px;
  margin-top: 0rem;
  text-align: center;
}

.footer-link {
  color: var(--light-pink);
  text-shadow: 2px 2px var(--black);
  padding: 0 2rem;
  font-size: 2rem;
}

.footer-link:hover {
  color: var(--pink);
}

.copyright {
  margin-block-end: 0px;
  margin-top: 0.75rem;
  font-size: 0.75rem;
  color: var(--gray);
}

/*Index Stuff*/
.icons {
  margin: 2rem 2rem;
  text-align: center;
}

.icon-container {
  background-color: var(--background);
  padding-bottom: 3rem;
  padding-top: 4rem;
}

.icon-heading {
  text-align: center;
  color: var(--green);
}
/*About Me*/
.home-container {
  padding: 4rem 4rem 4rem 4rem;
}

.about-container {
  background-color: var(--gray);
}
.about-me {
  margin-left: 0rem;
  color: var(--green);
}

.about-me-desc {
  color: var(--black);
}

.img-about {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

/*Project Container*/
.project-container {
  margin: 2rem 0rem 0rem 0rem;
  padding: 0 4rem;
}

.project-container > div > .description-left {
  text-align: right;
  padding: 2rem;
}

.project-heading {
  color: var(--green);
}

.project-container > div > .description-right {
  text-align: left;
  padding: 2rem;
}

.project-row {
  margin: 2rem 0;
}

.project-img {
  max-height: 300px;
  height: auto;
  width: 700px;
}

.project-img:hover {
  opacity: 0.75;
  filter: drop-shadow(8px 8px 10px var(--green));
}

.description > h6 {
  color: var(--green);
}

/*Contact*/
.contact-container {
  background-color: var(--gray);
  padding: 5rem 4rem 2.5rem 4rem;
  margin: 2rem auto;
  border: 0 1rem;
}

.contact-title {
  color: var(--green);
}

.contact-title2 {
  color: var(--green);
  margin: 0 0 2rem 0;
}

.fa {
  color: var(--light-pink);
}

.social-link {
  color: var(--light-pink);
}

.social-link:hover {
  color: var(--pink);
}

.address-col {
  text-align: center;
}

.address {
  margin-top: 2rem;
  color: var(--green);
  font-size: 10rem;
  text-shadow: 3px 3px var(--black);
}
