.tools {
  font-size: 5rem;
  color: #e4b0ab;
  text-align: center;
  margin: 2rem 2rem;
  text-shadow: 1px 2px 1px black;
}
body {
  background-color: #fbfaf8;
  font-family: "Open Sans";
}
h1,
h2 {
  font-family: "Playfair Display";
  font-weight: bold;
}
.btn {
  background-color: #f39189;
  border-color: #f39189;
  color: white;
}

.btn:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-color: #3c6360;
  border-color: #3c6360;
  color: white;
}

/* Header */

.header {
  background-color: #fbfaf8;
  padding-left: 4rem;
  padding-right: 4rem;
}

.nav-pills > li {
  margin-left: 0.2rem;
}

.nav-pills > li > a.active {
  background-color: #f39189 !important;
  color: white !important;
}

.nav-pills > li > a.active:hover {
  background-color: #3c6360 !important;
  color: white !important;
}

.nav-pills > li > a:hover {
  background-color: #3c6360;
  color: white !important;
}

.nav-link {
  color: black;
}

.header-name {
  text-align: left;
}

/* Footer */

.bottom-container {
  background-color: #3c6360;
  margin-block-end: 0px;
  padding-top: 30px;
  padding-bottom: 20px;
  margin-top: 0rem;
  text-align: center;
}

.footer-link {
  color: #e4b0ab;
  text-shadow: 2px 2px black;
  padding: 0 2rem;
  font-size: 2rem;
}

.footer-link:hover {
  color: #f39189;
}

.copyright {
  margin-block-end: 0px;
  margin-top: 0.75rem;
  font-size: 0.75rem;
  color: #f8f3f0;
}

/*Index Stuff*/
.icons {
  margin: 2rem 2rem;
  text-align: center;
}

.icon-container {
  background-color: #fbfaf8;
  padding-bottom: 3rem;
  padding-top: 4rem;
}

.icon-heading {
  text-align: center;
  color: #3c6360;
}
/*About Me*/
.home-container {
  padding: 4rem 4rem 4rem 4rem;
}

.about-container {
  background-color: #f8f3f0;
}
.about-me {
  margin-left: 0rem;
  color: #3c6360;
}

.about-me-desc {
  color: black;
}

.img-about {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

/*Project Container*/
.project-container {
  margin: 2rem 0rem 0rem 0rem;
  padding: 0 4rem;
}

.project-container > div > .description-left {
  text-align: right;
  padding: 2rem;
}

.project-heading {
  color: #3c6360;
}

.project-container > div > .description-right {
  text-align: left;
  padding: 2rem;
}

.project-row {
  margin: 2rem 0;
}

.project-img {
  max-height: 300px;
  height: auto;
  width: 700px;
}

.project-img:hover {
  opacity: 0.75;
  filter: drop-shadow(8px 8px 10px #3c6360);
}

.description > h6 {
  color: #3c6360;
}

/*Contact*/
.contact-container {
  background-color: #f8f3f0;
  padding: 5rem 4rem 2.5rem 4rem;
  margin: 2rem auto;
  border: 0 1rem;
}

.contact-title {
  color: #3c6360;
}

.contact-title2 {
  color: #3c6360;
  margin: 0 0 2rem 0;
}

.fa {
  color: #e4b0ab;
}

.social-link {
  color: #e4b0ab;
}

.social-link:hover {
  color: #f39189;
}

.address-col {
  text-align: center;
}

.address {
  margin-top: 2rem;
  color: #3c6360;
  font-size: 10rem;
  text-shadow: 3px 3px black;
}
